.btn__moresContainer{
  position: absolute;
  bottom: 1rem;
  right: .9rem;
  font-size: 4rem;
  z-index: 1;
}
.btn{
  &__iconMore{
    font-size: 2rem;
    display: inline-block;
    background: orangered;
    border-radius: 50%;
    box-shadow: 3px -0px 10px #232323;
    color: white;
    width: 3rem;
    height:3rem;
    line-height: 3rem;
    text-align: center;

    &:hover{
      background: #dd3d00;
    }
  }
}

.Map
{
  &__inputSearchCont{
    padding: .3rem;
  }

  &__Search{
    position: relative;
  }
  &__inputSearch{
    margin: 0 auto;
    border: 1px solid silver !important;
    margin-bottom: .3rem;
  }
  &__iconSearch
  {
    font-size: 1.3rem;
  }

  &__btnCalm{
    position: relative;
    top: -2px;
  }
}
