.btn__moresContainer{
  position: absolute;
  bottom: 1rem;
  right: .5rem;
  font-size: 4rem;
  z-index: 1;
}
.btn{
  &__iconMore{
    font-size: 2rem;
    display: inline-block;
    background: orangered;
    border-radius: 50%;
    box-shadow: 3px -0px 10px #232323;
    color: white;
    width: 3rem;
    height:3rem;
    line-height: 3rem;
    text-align: center;

    &:hover{
      background: #dd3d00;
    }
  }
}

.Map
{
  &__Search{
    position: relative;
  }
  &__inputSearch{
    width: 100%;
    margin: 0 auto;
    border: 1px solid black !important;
    padding: 0 0 0 1.9rem !important;
    //border-radius: 20px;
    margin-bottom: .3rem;
  }
  &__iconSearch
  {
    position: absolute;
    font-size: 1.5rem;
    top: .3rem;
    left: .4rem;
  }
}
