
.chat{
  &__img{
    width: 50px;
    max-width:50px !important;
    max-height: 50px !important;
    border-radius: 0px !important;
  }
}

.Sites{
  &__pullRigth{
    float: right;
  }
}

.Detail__title{
  font-size: 1.5rem !important;
}

.color-green{
  color: $color-green;
}
.color-skyBlue{
  color: $color-skyblue !important;
}

.color-skyBlue2{
  color: rgba($color-skyblue,0.7) !important;
}

.color-orange{
  color: orangered;
}

.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content{
  padding-left: 1rem;
}
.item .item-thumbnail-left{
  border: none !important;
}
.item-complex .item-content, .item-radio .item-content{
  padding: 0 4rem 0.1rem 0.1rem !important;

}
.item.active, .item.activated, .item-complex.active .item-content, .item-complex.activated .item-content, .item .item-content.active, .item .item-content.activated{
  background: rgba(#33cd5f,0.1) !important;

}
