<!--
  This template loads for the 'tab.friend-detail' state (app.js)
  'friend' is a $scope variable created in the FriendsCtrl controller (controllers.js)
  The FriendsCtrl pulls data from the Friends service (service.js)
  The Friends service returns an array of friend data
-->
<ion-view view-title="Login" hide-nav-bar="true" >
  <ion-content class="padding" style="background: #11c1f3;">


    <div class="list">
      <figure class="Login__imgContainer">
        <img class="Login__img" src="../img/icon_digitalizame.png" alt="">
      </figure>
      <label class="item item-input">
        <span class="input-label">Username</span>
        <input class="Login__input" type="text" placeholder="Username" autofocus>
      </label>
      <label class="item item-input">
        <span class="input-label">Contraseña</span>
        <input class="Login__input" type="password" placeholder="Contraseña">
      </label>
    </div>
    <button class="button button-block button-balanced">
      Login
    </button>
    <div class="text-center">
      <a class="color-white bolder" href="">Registrate</a>
    </div>

  </ion-content>
</ion-view>
