<ion-view view-title="Lugares">
  <ion-content>
    <ion-list>
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="site in sites" type="item-text-wrap" href="#/app/site/{{chat.id}}">
        <div class="item item-thumbnail-left">
          <img class="" ng-src="{{site.icon}}">
          <h2>{{site.description}}</h2>
          <p>{{site.detail}}</p>
          <p><span class="ion-thumbsup color-green"></span>&nbsp;4</p>
        </div>

        <i class="icon ion-chevron-right icon-accessory"></i>

        <ion-option-button class="button-assertive" ng-click="remove(chat)">
          Delete
        </ion-option-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
