<ion-view view-title="digitaliza.me">
  <ion-nav-bar>
    <ion-nav-buttons side="right">
      <!-- Putting a return between the buttons causes them to be stacked on Android 4.4.2 -->
      <button class="button button-icon ion-android-sync" ng-click="refresh()"></button>
      <button class="button button-icon ion-android-locate" ng-click="locate()"></button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="has-header">
    <div class="Map__Search">
      <form class="">
        <div class="item item-input-inset Map__inputSearchCont">
          <label class="item-input-wrapper Map__inputSearch">
            <span class="ion-ios-search Map__iconSearch"></span>
            <input type="text" placeholder="Qué deseas Buscar?" ng-model="text" id="text">
          </label>
          <button class="button button-calm button-small Map__btnCalm" ng-click="search()">
            &nbsp; Buscar &nbsp;
          </button>
        </div>
      </form>
    </div>

    <div data-tap-disabled="true" id="googleMap">
      <ui-gmap-google-map center='map.center' zoom='map.zoom'>
        <ui-gmap-marker coords="marker.coords" options="marker.options" events="marker.events" idkey="marker.id">
        </ui-gmap-marker>

        <!--<ui-gmap-marker coords="'site'" idkey="site.id"  icon="'site.category_image'" ng-repeat="site in sites">-->
        <!--</ui-gmap-marker>-->
        <ui-gmap-markers models="sites_location" coords="'self'" icon="'icon' "></ui-gmap-markers>

        <ui-gmap-window coords="marker.coords" show="infoVisible" closeClick="hideInfo()"
                        options="windowOptions">
          <div class="Map__tooltip">
            <p>Nombre del sitio</p>

            <div class="text-center">
              <img class="Map__tooltipImg" ng-src="{{img_site}}" alt="">
            </div>
            <div class="Map__tooltipBtn">
              <button class="Map__tooltipBtnLike"><span class="ion-thumbsup"></span>Like</button>
              <button class="Map__tooltipBtnShared"><span class="ion-share"></span>Shared</button>
            </div>

            <!--<a target="_blank" href="{{infoBusiness.url}}">{{infoBusiness.name}}</a>-->
          </div>
        </ui-gmap-window>

      </ui-gmap-google-map>
    </div>

    <div class="btn__moresContainer">
      <a href="" ng-click="showModal()" class="ion-plus-round btn__iconMore"></a>
    </div>

  </ion-content>
</ion-view>
